* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(#ad5389, #3c1053);
}

.box {
  background: #fff;
  padding: 20px;
  box-shadow: 15px 1px 30px 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,.12), 0 0 0 0 rgba(0,0,0,.3);
  border-radius: 10px;
}


.app {
  display: flex;

}

.image {
  width: 600px;
}

.image img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.slider {
  width: 100%;
}

.slider input {
  width: 100%;
}

.input input {
  display: block;
  width: 100%;
  max-height: 2.8rem;
  padding: .8rem 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: #000;
  background: #fff none;
  border: 1px solid #999;
  border-radius: 5px;
}

.hide {
  display: none!important;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: #fad64e;
  color: #3f3f3f;
  border: none;
  border-radius: 2.8rem;
  transition: transform .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-transform .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  will-change: transform;
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.btn:active {
  transition: transform .1s ease-in-out,box-shadow .1s ease-in-out!important;
  transform: none!important;
  box-shadow: none!important;
}

.btn:hover:not(:disabled) {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  transform: translateY(-1px);
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ad5389;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 11px;
  background: #3c1053;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
